* {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  transition: 300ms;
  margin: 0px;
}

body {
  background-color: whitesmoke;
  /* color: black; */
  margin: 0;
  padding: 0px;
}

#titelInFoto{
  width: 100%;
  height: auto;
  padding-left: 0px;
  padding-right: 20px;
  margin: -20px;
  text-align: center;
  background-image: url(/Foto/HompageTitlePicture.png);
  background-size: cover;
}

#Quote{
  text-align:center;
  margin-top: 20px;
  margin-bottom: 0;

  color: var(--primaryColor);
  font-size: 3.5vw;
}

h1 {
  font-size: 600%;
  text-align: center;
  color:rgb(134, 124, 226);
}

h2 {
  margin-top: 2vh;
  text-align: center;
  font-size: 200%;
}

#Inleiding{
  text-align: center;
  font-size: 1vw;
  margin-top: 1vh;
  padding-bottom: 1vh;
}

#navbar_logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}


.koppelNaarGroepenInformatie{
  display: grid;
}

.groepVisualisatie{
  grid-row: 1;
  grid-column: 1;
}

.GroepVisualisatieTitel{
  color: var(--visColor);
}

.GroepVisualisatieInformatie{
  text-align: center;
}

.groepSoftware{
  grid-row: 1;
  grid-column: 2;
}

.groepSoftwareTitel{
  color: var(--softColor);
}

.groepSoftwareInformatie{
  text-align: center;
}


.groepHardware{
  grid-row: 1;
  grid-column: 3;
}

.groepHardwareTitel{
  color: var(--hardColor);
}

.groepHardwareInformatie{
  text-align: center;
}

#LogoFoto{
  margin-bottom: 2vw;
}

.sponsors{
    text-align: center;
}

.koppelboxes{
  width: 25vw;
  height: 60vh;

  margin-left: 4vw;
  margin-top: 3vh;
  margin-bottom: 3vh;

  border: 0.2vh solid darkslategray;
  border-radius: 1vh;

  background-color: rgb(235, 235, 235);
}