*{
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
:hover{
    transition: 100ms;
}

body{
    background-color: whitesmoke;
    color: black;
}

header{
    text-align: right;
    word-spacing: 10px;
    color: black;
}

footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 85%;
    text-align: center;
    color: black;
    background-color: rgb(183, 197, 244);
}

a:hover{
    font-style: italic;
    font-size: 150%;
}

h1{
    font-size: 400%;
    text-align: center;
    padding: 10px;
    background-color: rgb(183, 197, 244);
}

img.boer{
    float: right;
    margin-right: 20px;
    margin-top: -50px;
}

.disclaimer{
    text-align: center;
    border-width: 5px;
    border-style: solid;
}