*{
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
:hover{
    transition: 100ms;
}

body{
    background-color: whitesmoke;
    color: black;
}

header{
    text-align: right;
    word-spacing: 10px;
    color: black;
}

footer{
    padding: 50px;
    padding-top: 10px;
    background-color: rgb(171, 195, 236);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    color: black;
}
footer.p{
    font-size: 200%;
}

a:hover{
    font-style: italic;
    font-size: 150%;
}

h1{
    font-size: 400%;
    text-align: center;
    padding: 10px;
    background-color: rgb(183, 197, 244);
    margin-left: -10px;
    margin-right: -10px;
}

p.auteurs{
    color: grey;
}

div.contact {
    float: left;
    text-align: center;
}

div.contact:hover{
    margin-left: 50px;
    color: blue;
}

div.school-contact{
    float: right;
    text-align: center;
}

div.school-contact:hover{
    margin-right: 50px;
    color: blue;
}
