* {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  transition: 300ms;
}

body {
  background-color: whitesmoke;
  color: black;
  margin: 0;
  padding: 0px;
}

#titelInFoto{
  max-width: 100%;
  height: 25vh;
  padding-top: 25vh;
  padding-bottom: 25vh;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  text-align: center;
  background-image: url(/Foto/FotoStal.jpg);
  background-size: cover;
}

h1 {
  font-size: 400%;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(183, 197, 244);
  color:rgb(134, 124, 226);
}

h2 {
  margin-top: 60px;
  text-align: center;
}

#Inleiding{
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
}