* {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  transition: 300ms;
  margin: 0px;
}

h1{
  font-size: 200%;
}

h2{
  font-size: 200%;
}

#DeelnemersPaginaTitel{
  background-color: white;
}

#DeelnemersPaginaTitel h1{
  margin-top: 5vh;
  font-size: 600%;

  color: black;
  text-align: center;
}

#VisualisatieTitel{
  text-align: center;
  background-color: rgb(183, 197, 244);
  color: white;
  font-size: 200%;
}

#HardwareTitel{
  text-align: center;
  background-color: rgb(13,110,253);
  color: white;
  font-size: 200%;

}

#SoftwareTitel{
  text-align: center;
  background-color: rgb(25,135,84);
  color: white;
  font-size: 200%;

}

#BegeleidersTitel{
  text-align: center;
  background-color: rgb(200, 200, 200);
  color: white;
  font-size: 200%;

}

#Visualisatie{
  display: grid;
  margin-top: 50px;
  margin-bottom: 50px;
}

#Hardware{
  display: grid;
}

#Software{
  display: grid;
  margin-bottom: 10px
}

#Begeldeiders{
  display: grid;
  margin: 10px;
}

#Amy{
  grid-column: 1;
  /* width: 49vw; */

  text-align: center;
}

#AmyInfo{
  font-size: 140%;
}

#Tycho{
  grid-column: 2;
  /* width: 49vw; */

  text-align: center;
}

#TychoInfo{
  font-size: 140%;
}

#Mo{
  grid-column: 1;
  /* width: 49vw; */

  text-align: center;
}

#MoInfo{
  font-size: 140%;
}

#Vince{
  grid-column: 2;
  /* width: 49vw; */

  text-align: center;
}

#VinceInfo{
  font-size: 140%;
}

#Zaka{
  grid-column: 1;
  /* width: 49vw; */

  text-align: center;
}

#ZakaInfo{
  font-size: 140%;
}

#Sem{
  grid-column: 2;
  /* width: 49vw; */

  text-align: center;
}

#SemInfo{
  font-size: 140%;
}

#Colson{
  grid-column: 1;
  /* width: 49vw; */

  text-align: center;
}

#ColsonInfo{
  font-size: 140%;
}

#Clijsters{
  grid-column: 2;
  /* width: 49vw; */

  text-align: center;
}

#ClijstersInfo{
  font-size: 140%;
}