* {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  transition: 300ms;
  margin: 0;
}

#VisualisatieTitel{
  margin-top: 5vh;
  text-align: center;
  background-color: rgb(183, 197, 244);
}

#HardwareTitel{
  text-align: center;
  background-color: rgb(13,110,253);
}

#SoftwareTitel{
  text-align: center;
  background-color: rgb(25,135,84);
}

#Visualisatie{
  display: grid;
}

#Hardware{
  display: grid;
}

#Software{
  display: grid;
}

#Amy{
  grid-column: 1;
  border-style: solid;
  border-width: 5px;

  text-align: center;
}

#Tycho{
  grid-column: 2;
  border-style: solid;
  border-width: 5px;

  text-align: center;
}

#Mo{
  grid-column: 1;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

#Vince{
  grid-column: 2;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

#Zaka{
  grid-column: 1;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

#Sem{
  grid-column: 2;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

h1{
  font-size: 400%;
}

h2{
  font-size: 200%;
}