* {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  transition: 300ms;
  margin: 0px;
}

#pageTitle {
  font-size: 15vw;
  margin-bottom: 1vh;
  color: black;
  text-align: center;
}

h2 {
  font-size: 200%;
}

team {
  display: grid;
}

participant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 1;
}

participant:nth-child(odd) {
  grid-column: 1;
}

participant:nth-child(even) {
  grid-column: 2;
}

.teamTitle {
  text-align: center;
  color: white;
  font-size: 400%;
}

.participantInfo {
  text-align: center;
  font-size: 140%;
  margin-top: 5px;
  margin-bottom: 15px;
}

#teamVisualisatie {
  background-color: rgb(183, 197, 244);
}

#teamHardware {
  background-color: rgb(13, 110, 253);
}

#teamSoftware {
  background-color: rgb(25, 135, 84);
}

#teamBegeleiders {
  background-color: rgb(255, 12, 223);
}


.personImage {
  width: 40vw;
  height: 55vw;
}

@media (max-width: 800px) {
  .personImage {
    width: 80vw;
    height: 110vw;
  }

  team {
    display: block;
  }
}
