

* {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  transition: 300ms;
  margin: 0px;
}

#HoofdDoelTitel{
  margin-top: 5vh;

  text-align: center;
  font-size: 1.5vw;
}

#HoofdDoelInfo{
  text-align: center;
  font-size: 1vw;

  padding-top: 1vh;
}

#TussenDoelenTitel{
  text-align: center;
  font-size: 1.5vw;
  grid-row: 1;

}

.TussenDoelen{
  display: grid;
}

.TussenDoelenVisualisatie{
  grid-row: 2;
}

#TussenDoelenVisualisatieTitel{
  text-align: center;

  background-color: rgb(183, 197, 244);
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
  margin-top: 30px;

}

.DoelKaders{
  background-color: rgb(240, 240, 240);
  border-radius: 25px;
  height: 10vw;
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.GezamelijkDoelVisualisatie{
  text-align: center;
}

.TussenDoelenVisualisatieInfo{
  display: grid;
}

.TussenDoelAmy{
  grid-column: 1;
  text-align: center;
}

#TussenDoelAmyInfo{
  text-align: center;
}

.TussenDoelTycho{
  grid-column: 2;
  text-align: center;
}

#TussenDoelTychoInfo{
  text-align: center;
}

.TussenDoelenHardware{
  grid-row: 3;
}

#TussenDoelenHardwareTitel{
  text-align: center;

  background-color: rgb(13, 110, 253);
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
}

.GezamelijkDoelHardware{
  text-align: center;
}

.TussenDoelenHardwareInfo{
  display: grid;
}

.TussenDoelMo{
  grid-column: 1;
  text-align: center;
}

.TussenDoelVince{
  grid-column: 2;
  text-align: center;
}

.TussenDoelenSoftware{
  grid-row: 4;
  text-align: center;
}

#TussenDoelenSoftwareTitel{
  text-align: center;

  background-color: rgb(25, 135, 84);
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
}

.TussenDoelenSoftwareInfo{
  display: grid;
}

.TussenDoelSem{
  grid-column: 1;
  text-align: center;
}

.TussenDoelZaka{
  grid-column: 2;
  text-align: center ;
}

#TussenDoelenBegeleidersTitel{
  text-align: center;

  background-color: rgb(189, 189, 189);
  padding-top: 0.25vw;
  padding-bottom: 0.25vw;
}

.TussenDoelenBegeleidersInfo{
  display: grid;
}

.TussenDoelColson{
  grid-column: 1;
  text-align: center;
}

.TussenDoelClijsters{
  grid-column: 2;
  text-align: center;
}

.TussenTitel{
  font-size: 1.25vw;
}

.PersoonlijkeTussenTitel{
  font-size: 0.95vw;
}