navigatiebalk{
  display: grid;
}

header{
  margin-bottom: 20px;
}

#column1{
    text-align: left;
    word-spacing: 5px;
    grid-column: 1;
    background-color: rgb(110, 110, 110);
    color: white;
  
    padding-left: 2%;
    padding-top: 0.5%;
  }
  #column1 button{
    background-color: rgb(110, 110, 110);
    color: white;
    padding: 0.5%;
  }
  
  #column2 {
    text-align: right;
    word-spacing: 10px;
    background-color: rgb(110, 110, 110);
    color: black;
    grid-column: 2;
  
    padding-right: 2%;
  }