

* {
    font-family: "Times New Roman", Times, serif;
    scroll-behavior: smooth;
    transition: 300ms;
  }
  
  body {
    background-color: whitesmoke;
    color: black;
    margin: 0px;
  }
  
  header{
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  navigatiebalk{
    display: grid;
  }
  
  #column1{
    text-align: left;
    word-spacing: 5px;
    grid-column: 1;
    background-color: rgb(110, 110, 110);
    color: white;
  
    padding-left: 2%;
    padding-top: 0.5%;
    
  
  }
  #column1 button{
    background-color: rgb(110, 110, 110);
    color: white;
    padding: 0.5%;
  }
  
  #column2 {
    text-align: right;
    word-spacing: 10px;
    background-color: rgb(110, 110, 110);
    color: black;
    grid-column: 2;
  
    padding-right: 2%;
  }
  
  footer {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 85%;
    text-align: center;
    color: black;
    background-color: rgb(183, 197, 244);
    margin-bottom: 10px;
  }
  
  
  h1 {
    font-size: 400%;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(183, 197, 244);
  }
  
  .inhoudsTabelGeheel {
    display: grid;
    align-items: center;
    width: 90vw;
    background-color: rgb(241, 240, 240);
    padding-top: 10px;
  }
  .inhoudsTabel {
    justify-self: center;
    grid-row: 1;
    grid-column: 1;
    display: block;
  }
  
  a.boer {
    grid-row: 1;
    grid-column: 2;
    justify-items: end;
    width: 40vw;
  }
  
  #lijn {
    background-color: black;
    width: 75vw;
    margin-top: 10px;
  
    height: 3px;
  }
  
  .main {
    width: 90vw;
    background-color: rgb(236, 237, 237);
  }
  
  .text {
    padding: 2vw;
  }
  
  .disclaimer {
    text-align: center;
    border-width: 3px;
    border-style: groove;
  }
  
  #test {
    display: flex;
    justify-content: center;
  }
  
  img.Genk {
    margin-left: -55px;
  }
  
  #genkTitel {
    display: block;
  }
  .contact {
    margin-top: 5px;
    margin-bottom: 10px;
  }