* {
    font-family: "Times New Roman", Times, serif;
    scroll-behavior: smooth;
    transition: 300ms;
    margin: 0px;
    padding: 0;
  }


#controllerTitel{
  padding-top: 6vh;
  font-size: 200%;
  text-align: center;
  background-color:  rgba(28, 179, 139, 0.582);
}

#controllerInfo{
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin-left: 27vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#moreControllerInfo
{
  display: grid;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  /* position: absolute; */
  top: 50%;
  width: 10vw;
  margin-top: 3vh;
  padding: 16px;
  /* color: white; */
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.1);
}

/* Caption text */
.text {
  color:black;
  font-size: 1vw;
  padding-bottom: 1vh;
  margin-bottom: 3vh;
  position: absolute;
  bottom: -0.5vh;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.controllerSpecsCollapsible{
  display: flex;
  background-color: rgba(245, 150, 87, 0.884);
  cursor: pointer;
  height: 5vh;
  width: 100%;
  border: 1vh solid white;
  border-top: 0.5vh solid white;
  justify-content: center;
  text-align: center;
  font-size: 1.5vw;
}

#controllerSpecs{
  grid-row: 1;
  grid-column: 1;
}

.controllerSpecsHead{
  justify-content: right;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: none;
  overflow: hidden;
  background-color: white;
}

.controllerSpecsCollapsible::after{
  justify-content: right;
  content: '\02795';
  color: rgb(190, 188, 188);
  float: right;
  margin-left: 1vw;
  margin-top: -0.2vw;
  font-size: 1.5vw;
}

.controllerActive::after{
  content: '\2796';
}

#controllerPorts{
  grid-row: 1;
  grid-column: 2;
}

.controllerPortsCollapsible{
  display: flex;
  background-color: rgba(248, 154, 91, 0.884);
  cursor: pointer;
  height: 5vh;
  width: 100%;
  border: 1vh solid white;
  border-top: 0.5vh solid white;
  font-size: 1.5vw;
  justify-content: center;
}

.controllerPortsHead{
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: none;
  overflow: hidden;
  background-color: white;
}

.controllerPortsCollapsible::after{
  content: '\02795';
  color: whitesmoke;
  float: right;
  margin-left: 1vw;
  margin-top: -0.2vw;
  font-size: 1.5vw;
}

.controllerPortsActive::after{
  content: '\2796';
}

#SensorenTitel{
  font-size: 200%;
  text-align: center;
  background-color:  rgba(28, 179, 139, 0.582);
}

#TemperatuurSensorTitel h3{
  margin-top: 2vh;
  font-size: 200%;
  text-align: center;
  background-color: rgba(28, 179, 139, 0.582);
}

#TemperatuurSensorInfo {
  text-align: center;
}

#TemperatuurSensorInfo img{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#text{
  font-size: 200%;
}

.TemperatuurSensorSpecsCollapsible{
  width: 100%;
  height: 5vh;
  font-size: 1vw;
  background-color:  rgba(248, 154, 91, 0.884);
  border: 1vh solid white;
}

.TemperatuurSensorSpecsCollapsible::after{
  content: '\02795';
  float: right;
}

.TemperatuurSensorSpecsActive::after{
  content: '\2796';
}

.TemperatuurSensorSpecs{
  display: none;
  background-color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 0.5vh solid black;

}

#LuchtVochtigheidsSensorTitel{
  font-size: 200%;
  text-align: center;
  background-color: rgba(28, 179, 139, 0.582);
}

#LuchtVochtigheidsSensorInfo{
  text-align: center;
  margin-top: 2vh;
}

.LuchtVochtigheidsSensorSpecsCollapsible{
  width: 100%;
  height: 5vh;
  font-size: 1vw;
  background-color:  rgba(248, 154, 91, 0.884);
  border: 1vh solid white;
}

.LuchtVochtigheidsSensorSpecsCollapsible::after{
  content: '\02795';
  float: right;
}

.LuchtVochtigheidsSensorSpecsCollapsibleActive::after{
  content: '\2796';
}

.LuchtVochtigheidsSensorSpecs{
  display: none;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-bottom: 0.5vh solid white;
}