* {
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  transition: 300ms;
  margin: 0px;
  padding: 0;
}


.title {
  font-size: 3em;
  text-align: center;
  background-color: rgba(28, 179, 139, 0.582);
}

.subtitle {
  font-size: 200%;
  text-align: center;
  background-color: rgba(28, 179, 139, 0.582);
}

.imageDescribingText {
  font-size: 200%;
}


/* Slideshow container */
.slideshow-container {
  position: relative;
  /* margin-left: 27vw; */
  margin-top: 2vh;
  margin-bottom: 2vh;

}

#moreControllerInfo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  /* position: absolute; */
  top: 50%;
  width: 10vw;
  margin-top: 3vh;
  padding: 16px;
  /* color: white; */
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Caption text */
.text {
  color: black;
  font-size: 1vw;
  padding-bottom: 1vh;
  margin-bottom: 3vh;
  position: absolute;
  bottom: -0.5vh;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* end of image carrousel */


/* collapsible list */
.collapsibleListButton {
  display: grid;
  justify-self: center;
  background-color: rgba(245, 150, 87, 0.884);
  cursor: pointer;
  width: calc(100% - 2vh);
  height: 5vh;
  margin: 1vh;
  padding: 1vh;
  padding-left: calc(1vh + 32px);
  border: 0;
  grid-template-columns: 1fr 32px;
  font-size: 2.5vh;
  grid-row: 1;
}

.collapsibleList {
  padding-top: 2vh;
  padding-bottom: 2vh;
  overflow: hidden;
  background-color: white;
}

.collapsibleIcon {
  grid-column: 2;
  justify-self: right;
  color: rgb(190, 188, 188);

  font-size: 2.5vh;
}

/* grid placing of controller info */
#controllerSpecsHead,
#controllerPortsHead {
  grid-row: 2;
}

#controllerSpecsHead {
  grid-column: 1;
}

#controllerPortsHead {
  grid-column: 2;
}

#TemperatuurSensorInfo img {
  margin-top: 2vh;
  margin-bottom: 2vh;
}
