:root {
  --amountOfNavbarButtons: 4;
}

navigatiebalk{
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
}

nav {
  display: flex;
}

#hamburgerMenu {
  background-color: rgb(238, 144, 94);
  border: 0;
  width: 50px;
  display: none;
}

.navbutton, .navbutton_active{
    width: calc(70vw / var(--amountOfNavbarButtons)); /*  bereken de breedte van een navbutton door de breedte te delen door het aantal navbuttons */
    height: 5.5vh;
    border: 0px;
    color: black;

    font-size: 4vh;
    font-weight: bold;
    background-color: rgb(238, 144, 94);
  }

  #startPagina{
    display: flex;
    width: 30vw
  }

  #home {
    width: 100%;
  }



.navbutton_active {
  color: white;

}

nav:has(.navbutton:hover) .navbutton:not(:hover) {
  font-size: 2.5vh;
}

.navbutton:hover{
  background-color: gray;
}



.startpage:hover + .startpage{
  background-color: gray;
}

#startPagina:hover > *{
  background-color: gray;
}

.icon{
  width: 3vw;
}

.active, .navigatiebalk button:hover {
  background-color: gray;
}

@media (max-width: 1000px) {
  #hamburgerMenu {
    display: block;
  }

  .navbutton {
    display: none;
  }

  #startPagina {
    width: 90vw;
  }

  
  .startpage {
    width: 80%;
    display: block;
    text-align: left;
  }
  .icon {
    width: 20%;
    text-align: center;
  }
}