:root {
  --amountOfNavbarButtons: 4;
}

#fixed{
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
}

nav {
  display: flex;
}

#mobileMenu {
  width: 40vw;
  height: calc(100vh - 40px);
  display: none;
  top: 40px;
  z-index: 0;
  left: 0;
  overflow: auto;
  position: fixed;



  background-color: wheat;

 }
 #mobileMenu a {

  text-decoration:none;
  margin-left: 2vw;
  margin-top: 2vw;
  color: rgb(255, 102, 0);

  

 }

.mobile_navbutton {
  cursor: pointer;
  width: 40vw;

}

#hamburgerMenu {
  background-color: var(--primaryColor);
  border: 0;
  width: 50px;
  display: none;
  cursor: pointer;

}

.navbutton,
.navbutton_active {
  width: calc(70vw / var(--amountOfNavbarButtons));
  /*  bereken de breedte van een navbutton door de breedte te delen door het aantal navbuttons */
  height: 40px;
  border: 0px;
  color: black;

  font-size: 2em;
  font-weight: bold;
  background-color: var(--primaryColor);
  cursor: pointer;

}

#startPagina {
  display: flex;
  width: 30vw
}

#home {
  width: 100%;
}



.navbutton_active {
  color: white;

}

nav:has(.navbutton:hover) .navbutton:not(:hover) {
  font-size: 1em;
}

.navbutton:hover {
  background-color: gray;
}



.startpage:hover+.startpage {
  background-color: gray;
}

#startPagina:hover>* {
  background-color: gray;
}

.icon {
  width: 3vw;
}

.active,
.navigatiebalk button:hover {
  background-color: gray;
}

@media (max-width: 1100px) {
  #hamburgerMenu {
    display: block;
  }

  .navbutton {
    display: none;
  }

  #startPagina {
    width: calc(100vw - 50px);
  }


  .startpage {
    width: 100%;
    display: block;
    text-align: left;
  }

  .icon {
    width: 50px;
    text-align: center;
  }
}