navigatiebalk{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;

  background-color: rgb(247,132,71);
}

#startPagina{
  display: flex;
  width: 100vw;
}

navigatiebalk button{
    width: 100%;
    height: 5vh;
    border: 0px;

    background-color: rgb(238, 144, 94);
    font-size: 150%;
    font-weight: bold;
}


navigatiebalk button:hover{
  background-color: gray;
}

.startpage:hover + .startpage{
  background-color: gray;
}

#startPagina:hover > *{
  background-color: gray;
}

.icon{
  width: 3vw;
  height: 7vh;
}

.active, .navigatiebalk button:hover {
  background-color: gray;
}