.Hoofdfoto{
    width: 300px;
    height: 300px;
}

.Thumbnail{
    width: 350px;
    height: 250px;
}

.ThumbnailHardware{
    width: 350px;
    height: 250px;
    border-style: solid;
    border-color: rgb(35, 218, 255);
}


.colorShiftOnHover {
    color: black;
    display: inline;
    transition: 200ms;

}

.colorShiftOnHover:hover{
    color: rgb(25, 255, 84);
    transition: 200ms;
}