.Hoofdfoto{
    width: 300px;
    height: 300px;
}

.Thumbnail{
    width: 350px;
    height: 250px;
}

.ThumbnailHardware{
    width: 350px;
    height: 250px;
    border-style: solid;
    border-color: rgb(35, 218, 255);
}


.colorSw {
    color: black;
    display: inline;
    transition: 200ms;

}

.colorSw:hover{
    color: rgb(25, 200, 84);
    transition: 200ms;
}

.circle {
	position: absolute;
    background-color: rgba(255, 0, 0, 0);
	width: 60px; 
	height: 60px; 
  border-radius: 50%;  
}

